body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f5f5;
}

/* Header section */

header#main-header {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#logo h1 {
  font-family: "Montez", cursive;
  color: blue;
  margin: 0;
  font-size: 2em;
}

#logo p {
  margin: 0;
  color: gray;
  font-size: 0.9em;
  font-family: "Ubuntu Mono";
}

#auth-buttons {
  display: flex;
  gap: 10px;
}

#auth-buttons button {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

#auth-buttons button:hover {
  background-color: darkblue;
}

/* Main Section */

main {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(/images/background.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
}

#post-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  border-radius: 8px;
}

#all-posts a {
  text-decoration: none;
  color: black;
}

#post-buttons button {
  background-color: #d4af37; /* Gold color */
  color: black;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  font-size: 1.2em;
  transition: background-color 0.3s;
}

#post-buttons button:hover {
  background-color: darkgoldenrod;
}

/* Styling the Modal */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: -100px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  max-width: 500px;
  text-align: center;
  position: relative;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
}

#signup-form,
#signin-form,
#create-post-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#signup-form label,
#signin-form label,
#create-post-form label {
  text-align: left;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
}

#signup-form input,
#signin-form input,
#create-post-form input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  width: 90%;
}

.signup-submit,
.signin-submit {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

.signup-submit:hover,
.signin-submit:hover {
  background-color: darkgreen;
}

/* SignIn Modal */
#signin-modal p {
  text-align: center;
  margin-top: 10px;
}

#signin-modal p a {
  color: blue;
  text-decoration: none;
}

#signin-modal p a:hover {
  text-decoration: underline;
}

/* Create Posts */
/* Create Post Modal */
#create-post-form textarea {
  resize: vertical; /* Allow only vertical resizing */
  width: 90%;
  height: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgrey;
  border: none;
}

.create-submit {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

.create-submit:hover {
  background-color: darkgreen;
}
