body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffeedd;
}

/* Header section */

header#main-header {
  background-color: #ffeedd;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#logo h1 {
  font-family: "Montez", cursive;
  color: blue;
  margin: 0;
  font-size: 2em;
}

#logo p {
  margin: 0;
  color: gray;
  font-size: 0.9em;
  font-family: "Ubuntu Mono";
}

#auth-buttons {
  display: flex;
  gap: 10px;
}

#auth-buttons button {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
  border-radius: 3px;
}

#auth-buttons button:hover {
  background-color: darkblue;
}

/* Main */

main {
  padding: 20px;
}

.post-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.post-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  flex: 1 1 calc(30% - 10px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: box-shadow 0.3s ease;
}

.post-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-header p {
  margin: 0;
  font-weight: bold;
}

.post-actions button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  font-size: 1.2em;
}

.post-actions button:hover {
  color: red;
}

.post-content h3 {
  margin: 10px 0;
}

.post-content p {
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  border-radius: 10px;
  text-align: center;
}

.modal-content p {
  margin-bottom: 20px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 32%;
  right: 37%;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.btn-confirm {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-cancel {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 5px;
}

.btn-confirm:hover,
.btn-cancel:hover {
  opacity: 0.8;
}
